.album-cover
{
  align-self: left
}

.bg-dark
{
  background-color: rgb(14, 24, 32);
}
.song-info
{
  padding-left: 1em;
  
}

.text-lightish
{
  color:rgb(223, 223, 223);
}

.track-container
{
  margin-top: 2pt;
  margin-bottom: 2pt;
}