<div class="container-fluid float-right bg-light mt-2">
  <!-- Logged In -->
  <div *ngIf="isLoggedIn()" class="row justify-content-end">
    <div class="col-3 px-2">
      <div class="float-right">{{ user.name }}</div>
      <button
        id="spotify-logout"
        type="button"
        class="float-right btn btn-link p-0">
        <a href="http://localhost:3000/spotify/logout">Not You?</a>
      </button>
    </div>
    <div class="col-md-auto px-0">
        <img
          class="rounded-circle icon float-right"
          src="{{ user.imageURL }}"
        >
    </div>
  </div>
  
  <!-- Not Logged In -->
  <div *ngIf="!isLoggedIn()" class="row justify-content-end">
    <div class="col-md-auto px-0">
      <button
        type="button"
        class="btn btn-link">
        <a href="http://localhost:3000/spotify/login">Login</a>
      </button>
    </div>
  </div>
</div>