hr {
    border-color: var(--web-light-grey);
    border-style: solid;
}

.cell {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 16px;
    background: var(--web-light-grey);
    border-radius: 8px;
    .playlist-image {
        width: 100%;
        margin-bottom: 16px;
        box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
    }
    .cell-info-wrapper {
        min-height: 62px;
        .cell-title {
            color: var(--white);
            font-size: 14px;
            font-weight: bold;

            overflow: hidden;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space:nowrap;
        }
        .cell-details {
            color: var(--light-grey);
            font-size: 12px;
            margin-top: 4px;

            text-overflow: ellipsis;
        }
    }
}

.cells-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(164px,1fr));
    grid-template-rows: auto 1fr;
    overflow: hidden;
}
