<div id="projects" class="container-fluid">
  <div id="projects-sidebar">
    <span id="projects-sidebar-title">Projects</span>
    <ul id="projects-sidebar-list">
      <li
        *ngFor="let project of projects; let i=index"
        (click)="onSelectProject(i)"
        [class.selected]="selectedProject == project">
        {{ project.title }}
      </li>
    </ul>
  </div>
  <div id="projects-content" *ngIf="selectedProject">
    <app-project [project]="selectedProject"></app-project>
  </div>
  
</div>