<div id="projects" class="container-fluid">
  <div id="projects-sidebar">
    <span id="projects-sidebar-title" (click)="onUnselect()">Projects</span>
    <ul id="projects-sidebar-list">
      <li
        *ngFor="let project of projects; let i=index"
        (click)="onSelectProject(i)"
        [class.selected]="selectedProject == project">
        {{ project.title }}
      </li>
    </ul>
  </div>
  <div class="projects-main" id="projects-content" *ngIf="selectedProject">
    <app-project [project]="selectedProject"></app-project>
  </div>
  <div class="projects-main" id="projects-none" *ngIf="!selectedProject">
    <h2>My Projects</h2>
    <p>
        This page is dedicated to the random coding side projects that I've been working on throughout the years.
        If you're interested, click through the sidebar and check 'em out!
        If there is a green octocat beside the title, click it to checkout the GitHub repository for the project.
    </p>
  </div>
</div>