<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-button color="primary" routerLink="/dashboard">Home</button>
    <img id="profilePicture" *ngIf="isLoggedIn" class="img-thumbnail" src={{GetImageURL()}}>
    <span id="username" *ngIf="isLoggedIn" class="navbar-text">{{ GetUsername() }}</span>
    
    <button mat-button color="primary" *ngIf="isLoggedIn">Log out</button>
    <button mat-button color="primary" *ngIf="!isLoggedIn" (click)="LogIn()">Log in</button>

  </mat-toolbar-row>
</mat-toolbar>
