<app-spotify-top-bar></app-spotify-top-bar>
<p>
sub-playlists works!
</p>

<p>
  Create new playlist: <input type="text" name="input" [(ngModel)]="selectedPlaylist"> 
  {{selectedPlaylist}}
  </p>

<!-- <p>
Select a parnet playlist to see it's sub-playlists!
<select [(ngModel)]="selectedPlaylist"> 
    <option *ngFor="let playlist of playlists" [value]="playlist.title" >{{playlist.title}}</option>
</select>

</p> -->

<p>Selected Playlist is {{selectedPlaylist}}</p>
<p> Add a sub-playlist: <input type="text" name="input" [(ngModel)]="newSubPlaylist"> 
  <button (click)="AddSubPlaylist(newSubPlaylist)">Save</button>
  {{newSubPlaylist}}
  </p>

  <button (click)="GetSubPlaylistsByKey('id')">Test</button>
