<app-spotify-top-bar></app-spotify-top-bar>

<h3>Parent Playlist (songs get added to it)</h3>
<select [(ngModel)]="selectedParent">
  <option *ngFor="let playlist of playlists" [ngValue]="playlist">{{playlist.name}}</option>
</select>

<h3>Child Playlist (all songs get added to parent)</h3>
<select [(ngModel)]="selectedChild">
  <option *ngFor="let playlist of playlists" [ngValue]="playlist">{{playlist.name}}</option>
</select>
<br>
<br>
<button (click)="CreateSubPlaylist()" [disabled]="!PlaylistsSelected()">Pair Playlists</button>