<app-soprano-top-bar></app-soprano-top-bar>

<h3>Parent Playlist (songs get added to it)</h3>
<select [(ngModel)]="selectedParent">
  <option *ngFor="let playlist of playlists" [ngValue]="playlist">{{playlist.name}}</option>
</select>

<h3>Child Playlist (all songs get added to parent)</h3>
<select [(ngModel)]="selectedChild">
  <option *ngFor="let playlist of playlists" [ngValue]="playlist">{{playlist.name}}</option>
</select>
<br>
<br>
<button (click)="CreateSubPlaylist()" [disabled]="!PlaylistsSelected()">Pair Playlists</button>




<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.item.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: NodeHasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle color="secondary">
      <mat-icon >
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    {{node.item.name}}
    <mat-progress-bar *ngIf="node.isLoading"
                      mode="indeterminate"
                      class="example-tree-progress-bar"></mat-progress-bar>
  </mat-tree-node>
</mat-tree>
