/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --green: #1DB954;
    --white: #FFFFFF;
    --black: #191414;
    --dark-grey: #535353;
    --light-grey: #b3b3b3;
}
